*,body {
    font-family: 'Roboto'!important;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

.login-background {
    background: url('images/bg-repeat.png') 92% #1a1e21;
    background-repeat: repeat-x; /* El fondo se repite en el eje X */
    background-size: auto; /* Ajustar tamaño si es necesario */
    animation: moveBackground 45s linear infinite; /* Animación infinita */
}

/* Definimos la animación */
@keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin: auto;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #212529;
    text-align: center;
}

.login-main-text h2{
    font-weight: bold;
    color: #212529;
    text-align: left;
}

.login-main-text p{
    text-align: left;
}

.btn-black{
    background-color: #000 !important;
}